<aside class="profile">
    <img src="{{ "/assets/img/profile.jpg" | relative_url }}" alt="Profile Picture">
    <h2>Hey, I'm Gokhan</h2>
    <p>Senior Data Analyst</p>
    <p>Welcome to my portfolio! Here you’ll find my projects, skills, and more about my journey.</p>
    <ul>
        <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
        <li><a href="{{ site.baseurl }}/skills">Skills</a></li>
        <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
    </ul>
    {% include social-icons.html %}
</aside>
