body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.layout {
    display: flex;
    height: 100vh;
}

header {
    writing-mode: vertical-rl; /* Makes the text vertical */
    text-orientation: mixed;
    transform: rotate(180deg); /* Rotates text to read top-down */
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
    height: 100%;
}

footer {
    writing-mode: vertical-rl; /* Makes the text vertical */
    text-orientation: mixed;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: -2px 0px 5px rgba(0,0,0,0.1);
    transform: rotate(180deg); /* Rotates text to read top-down */
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
}

aside {
    width: 20%; /* Adjust width as needed */
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
    height: 100vh; /* Full height */
}

main {
    width: 60%; /* Adjust width as needed */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow-y: auto; /* Scrollable content */
}
