<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/professional-summary">Professional Summary</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
